.header {
  position: relative;
  /*padding: 1rem;*/
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 100%;
  display: flex;
  background: url(/app/media/header-background2.jpg) no-repeat center;
  background-size: cover;
}

header .overlay{
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 88%;
  text-align: center;
}

.dp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid #f9f9f9;
}

.header h1{
  color: black;/*#f9f9f9*/
  font-weight: 500;
  font-size: 29px;
  margin-bottom: 10px;
}

.header p{
  color: #f9f9f9;
  font-weight: 500;
  margin: 15px;
}

/*Social icons styles*/

/*About video*/
.about-video{
	float: left;
	width: 50%;
	margin-right: 1.5rem;
	min-height: inherit;
}