.header {
  position: relative;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 100%;
  display: flex;
  background: url('../media/header-background2.jpg') no-repeat center;
  background-size: cover;
  background-color: #161b22;
}

header .overlay{
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 88%;
  text-align: center;
  border-radius: 8px;
  align-content: center;
  justify-content: center;
}

.dp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom:20px;
  border: 5px solid #662900;
  align-content: center;
  justify-content: center;
  align-self: center;
  text-align:center ;
  margin: auto;
}

.header h1{
  color: white;/*#f9f9f9*/
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 10px;
  font-family: monospace;
}

.header p{
  color: #f9f9f9;
  font-weight: 500;
  margin: 15px;
  font-size: 22px;
  font-family: monospace;
}

/*Social icons styles*/
